@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --header: #1e3932;
    --main: #008248;
    --main-support: #d4e9e2;
    --greenish: #f1f8f6;
    --yellowish: #f3f1e7;
    --black: #000;
  }

  html {
    font-size: 62.5%;
    font-family: "Work Sans", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4 ,
  p{
    font-family: "Rufina", serif;
    font-family: "Poppins", sans-serif;
  }

  
h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}


.sign-in-btn {
  border: 2px solid #000;
  border-radius: 2rem;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
}

.sign-in-btn:hover {
  background-color: #000;
  color: #fff;
}

.join-now-btn {
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.join-now-btn:hover {
  background-color: #000;
  color: #fff;
}
.btn {


  padding: 0.7rem 1.6rem;
  margin: 0rem 1.6rem 0rem 0rem;
  border: none;
  color: var(--black);
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  border-radius: 1%;
}

.btn:hover {
  box-shadow: 0px 20px 20px 0px var(--greenish);
  color: var(--greenish);
  border: var(--black);
  border-radius: 10%;
  border-style: double;
}

.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-nav{
  grid-template-columns: repeat(2, 1fr) ;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

/* Header Section Start */

.header-starbucks {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);

}

.header .logo {

  height: 6rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s ease;
  }


  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
background-image: var(--main-support), url("images/hero.jpg");


  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


  /* hero section  */
  .section-hero .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-hero-data {
    align-items: center;
  }

  /* Hero Section */

  .section-hero .grid-four-col {
    grid-template-columns: repeat(3 1fr);
  }

  .section-hero-data {
 
    align-items: center;
    justify-content: space-around;
    width: 10rem;
  }

  p{
    font-size: 2rem;
    padding: .4rem;
    
  }